body {
  background-color: rgb(36, 33, 33);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list-image {
  height: 300px;
}

/* HOMEPAGE */

.white-text {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.homepage-background {
  background-image: url("../joker.jpg");
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homepage-background-signup {
  background-image: url("../joker.jpg");
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.random-movies-page-image {
  background-image: url("../public/Justice.jpg");
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.random-series-page-image {
  background-image: url("../public/daredevil.jpg");
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.profile-page-image {
  background-image: url("../public/dead-pool.webp");
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.edit-project-page {
  color: white;
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 5px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #333;
  color: white;
}

.form-textarea {
  resize: vertical;
  height: 100px;
}

.form-button,
.delete-button {
  padding: 8px 16px;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
}

.form-button:hover,
.delete-button:hover {
  background-color: #777;
}
